@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Arimo:wght@600&family=Merriweather:wght@300&family=Noto+Sans:wght@300&family=Roboto+Condensed:wght@300&family=Rubik:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
}

body {
    background: #2a2f4f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.conatiner {
    height: 400px;
    display: flex;
    justify-content: center;
}

.tabs__conatiner {
    display: flex;
    flex-direction: column;
    width: 169.74px;
}

.tabs {
    display: flex;
    padding: 10px 0;
    background: #fff;
    border-radius: 5px;
}

.tab {
    padding: 10px 0;
    margin: 10px;
    color: #bcbcbc;
    transition: all 0.4s;
}

.tab i.active {
    color: #2a2f4f;
    font-weight: 700;
}

.tab i {
    cursor: pointer;
}